﻿@model IEnumerable<GoogleLoginHttps.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (ViewBag.Moroso != null)
{
    <script>alert("Tu saldo no es suficiente");</script>
}

@if (ViewBag.User.Rol == 1)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class="card-container">
    @foreach (var item in Model)
    {

        <div class="cartita">
            <div class="img-container">
                <img src="@item.Url" class="card-img-top photo-size" alt="fotoProducto">
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">Precio @item.Price €</p>
                @if (ViewBag.User.Rol == 1)
                {
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                <a class="btn btn-warning" asp-action="Comprar" asp-route-id="@item.Id">Comprar</a>
            </div>
        </div>
    }
</div>
