﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoogleLoginHttps</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoogleLoginHttps.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar bg border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 navbar-alineator">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a class="btn-primary btn-success" asp-area="" asp-controller="Home" asp-action="Login">Logeate</a>
                        }
                        else
                        {
                            <div class="col-6 nav-alineator-links">
                                <a class="btn-danger btn-success" asp-area="" asp-controller="Home" asp-action="Logout">Desloguéate</a>
                                <a asp-controller="Products" asp-action="Index">Ver Productos</a>
                                <a asp-controller="Sales" asp-action="Index">Ver Compras</a>
                                @if (ViewBag.User.Rol == 1)
                                {
                                    <a asp-controller="Users" asp-action="Index">Ver Usuarios</a>
                                }

                            </div>
                            <div class="nav-right col-5 nav-alineator-links">
                                <span>saldo 
                                    @if(ViewBag.User.Rol == 1){
                                        @:eres admin
                                    }
                                    else{
                                        @ViewBag.User.Wallet
                                    }
                                     €</span>
                                <a asp-controller="Home" asp-action="Logged">
                                    <img src="@ViewBag.User.Image" alt="Avatar" class="round-image">
                                </a>
                            </div>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
