﻿@model IEnumerable<GoogleLoginHttps.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioCompra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Product.Url" class="card-img-top photo-size" alt="fotoProducto">
                    <h2>@item.Product.Name</h2>
                </td>
                <td>
                    <img src="@item.User.Image" class="card-img-top photo-size" alt="fotoProducto">
                    <h2>@item.User.Name</h2>
                </td>

                <td>
                    <h2>@item.BookingDate</h2>
                </td>

                <td>
                    <h2>@item.PrecioCompra €</h2>
                </td>
                @if (ViewBag.User.Rol == 1)
                {
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
