html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cartita {
    background: #38444c;
    width: fit-content !important;
    padding: 1em;
    border-radius: 5px;
}

.nav-right {
    float: right;
}

.round-image {
    border-radius: 50%;
    width: 50%
}

.navbar-alineator {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-alineator-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-container {
    display: flex;
    gap: 5em;
}

.img-container {
    display: flex;
    justify-content: center;
}

.photo-size {
    max-width: 10vw!important;
}

@media(max-width: 768px) {
    .card-container {
        align-items: center;
        flex-direction: column;
    }
}