﻿@model IEnumerable<GoogleLoginHttps.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="cartita">
            <div class="img-container">
                <img src="@item.Image" class="card-img-top photo-size" alt="fotoProducto">
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">
                    Cartera: @item.Wallet €
                    <br /> Email: @item.Emailaddress
                    <br /> IdGoogle: @item.IdGoogle
                    <br /> Rol: @item.Rol
                </p>
                @if(ViewBag.User.Id != item.Id){
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </div>
        </div>
    }
</div>
