﻿@{
    ViewData["Title"] = "Logged Page";
}

<div class="text-center">
    <h2> Hola @ViewBag.User.Name</h2>
    
    <h3>Has hecho un total de @ViewBag.TotalSales compras </h3>
    <h4>Has gastado un total de @ViewBag.TotalMoneySpend €</h4>
    <a asp-controller="Home" asp-action="AddMoney">
        añadir 5 € 
    </a>
</div>